<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bit.gd.dao.GDParameterOpcMapper" >
  <resultMap id="BaseResultMap" type="bit.gd.pojo.GDParameterOpc" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mask_dimension" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="pixel_size" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="reflect" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="absorb" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="shadow_near" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="shadow_far" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="wavelength" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="sigma_in" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="sigma_out" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="tis" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="na" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="ratio" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="step_main" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="step_sraf" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="omega_qua" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="maxloop_opc" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="threshold" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="tr" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="a_source" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="core_num" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="input_mask" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="input_mask_hash" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_no, mask_dimension, pixel_size, reflect, absorb, shadow_near, shadow_far, 
    wavelength, sigma_in, sigma_out, tis, na, ratio, step_main, step_sraf, omega_qua, 
    maxloop_opc, threshold, tr, a_source, core_num, input_mask, input_mask_hash, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gd_parameter_opc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gd_parameter_opc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="bit.gd.pojo.GDParameterOpc" useGeneratedKeys="true" keyProperty="id">
    insert into gd_parameter_opc (id, user_no, mask_dimension, 
      pixel_size, reflect, absorb, 
      shadow_near, shadow_far, wavelength, 
      sigma_in, sigma_out, tis, 
      na, ratio, step_main, step_sraf, 
      omega_qua, maxloop_opc, threshold, 
      tr, a_source, core_num, 
      input_mask, input_mask_hash, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{maskDimension,jdbcType=DOUBLE}, 
      #{pixelSize,jdbcType=DOUBLE}, #{reflect,jdbcType=DOUBLE}, #{absorb,jdbcType=DOUBLE}, 
      #{shadowNear,jdbcType=DOUBLE}, #{shadowFar,jdbcType=DOUBLE}, #{wavelength,jdbcType=DOUBLE}, 
      #{sigmaIn,jdbcType=DOUBLE}, #{sigmaOut,jdbcType=DOUBLE}, #{tis,jdbcType=DOUBLE}, 
      #{na,jdbcType=DOUBLE}, #{ratio,jdbcType=DOUBLE}, #{stepMain,jdbcType=DOUBLE}, #{stepSraf,jdbcType=DOUBLE}, 
      #{omegaQua,jdbcType=DOUBLE}, #{maxloopOpc,jdbcType=DOUBLE}, #{threshold,jdbcType=DOUBLE}, 
      #{tr,jdbcType=DOUBLE}, #{aSource,jdbcType=DOUBLE}, #{coreNum,jdbcType=DOUBLE}, 
      #{inputMask,jdbcType=VARCHAR}, #{inputMaskHash,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="bit.gd.pojo.GDParameterOpc" >
    insert into gd_parameter_opc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="maskDimension != null" >
        mask_dimension,
      </if>
      <if test="pixelSize != null" >
        pixel_size,
      </if>
      <if test="reflect != null" >
        reflect,
      </if>
      <if test="absorb != null" >
        absorb,
      </if>
      <if test="shadowNear != null" >
        shadow_near,
      </if>
      <if test="shadowFar != null" >
        shadow_far,
      </if>
      <if test="wavelength != null" >
        wavelength,
      </if>
      <if test="sigmaIn != null" >
        sigma_in,
      </if>
      <if test="sigmaOut != null" >
        sigma_out,
      </if>
      <if test="tis != null" >
        tis,
      </if>
      <if test="na != null" >
        na,
      </if>
      <if test="ratio != null" >
        ratio,
      </if>
      <if test="stepMain != null" >
        step_main,
      </if>
      <if test="stepSraf != null" >
        step_sraf,
      </if>
      <if test="omegaQua != null" >
        omega_qua,
      </if>
      <if test="maxloopOpc != null" >
        maxloop_opc,
      </if>
      <if test="threshold != null" >
        threshold,
      </if>
      <if test="tr != null" >
        tr,
      </if>
      <if test="aSource != null" >
        a_source,
      </if>
      <if test="coreNum != null" >
        core_num,
      </if>
      <if test="inputMask != null" >
        input_mask,
      </if>
      <if test="inputMaskHash != null" >
        input_mask_hash,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="maskDimension != null" >
        #{maskDimension,jdbcType=DOUBLE},
      </if>
      <if test="pixelSize != null" >
        #{pixelSize,jdbcType=DOUBLE},
      </if>
      <if test="reflect != null" >
        #{reflect,jdbcType=DOUBLE},
      </if>
      <if test="absorb != null" >
        #{absorb,jdbcType=DOUBLE},
      </if>
      <if test="shadowNear != null" >
        #{shadowNear,jdbcType=DOUBLE},
      </if>
      <if test="shadowFar != null" >
        #{shadowFar,jdbcType=DOUBLE},
      </if>
      <if test="wavelength != null" >
        #{wavelength,jdbcType=DOUBLE},
      </if>
      <if test="sigmaIn != null" >
        #{sigmaIn,jdbcType=DOUBLE},
      </if>
      <if test="sigmaOut != null" >
        #{sigmaOut,jdbcType=DOUBLE},
      </if>
      <if test="tis != null" >
        #{tis,jdbcType=DOUBLE},
      </if>
      <if test="na != null" >
        #{na,jdbcType=DOUBLE},
      </if>
      <if test="ratio != null" >
        #{ratio,jdbcType=DOUBLE},
      </if>
      <if test="stepMain != null" >
        #{stepMain,jdbcType=DOUBLE},
      </if>
      <if test="stepSraf != null" >
        #{stepSraf,jdbcType=DOUBLE},
      </if>
      <if test="omegaQua != null" >
        #{omegaQua,jdbcType=DOUBLE},
      </if>
      <if test="maxloopOpc != null" >
        #{maxloopOpc,jdbcType=DOUBLE},
      </if>
      <if test="threshold != null" >
        #{threshold,jdbcType=DOUBLE},
      </if>
      <if test="tr != null" >
        #{tr,jdbcType=DOUBLE},
      </if>
      <if test="aSource != null" >
        #{aSource,jdbcType=DOUBLE},
      </if>
      <if test="coreNum != null" >
        #{coreNum,jdbcType=DOUBLE},
      </if>
      <if test="inputMask != null" >
        #{inputMask,jdbcType=VARCHAR},
      </if>
      <if test="inputMaskHash != null" >
        #{inputMaskHash,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bit.gd.pojo.GDParameterOpc" >
    update gd_parameter_opc
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="maskDimension != null" >
        mask_dimension = #{maskDimension,jdbcType=DOUBLE},
      </if>
      <if test="pixelSize != null" >
        pixel_size = #{pixelSize,jdbcType=DOUBLE},
      </if>
      <if test="reflect != null" >
        reflect = #{reflect,jdbcType=DOUBLE},
      </if>
      <if test="absorb != null" >
        absorb = #{absorb,jdbcType=DOUBLE},
      </if>
      <if test="shadowNear != null" >
        shadow_near = #{shadowNear,jdbcType=DOUBLE},
      </if>
      <if test="shadowFar != null" >
        shadow_far = #{shadowFar,jdbcType=DOUBLE},
      </if>
      <if test="wavelength != null" >
        wavelength = #{wavelength,jdbcType=DOUBLE},
      </if>
      <if test="sigmaIn != null" >
        sigma_in = #{sigmaIn,jdbcType=DOUBLE},
      </if>
      <if test="sigmaOut != null" >
        sigma_out = #{sigmaOut,jdbcType=DOUBLE},
      </if>
      <if test="tis != null" >
        tis = #{tis,jdbcType=DOUBLE},
      </if>
      <if test="na != null" >
        na = #{na,jdbcType=DOUBLE},
      </if>
      <if test="ratio != null" >
        ratio = #{ratio,jdbcType=DOUBLE},
      </if>
      <if test="stepMain != null" >
        step_main = #{stepMain,jdbcType=DOUBLE},
      </if>
      <if test="stepSraf != null" >
        step_sraf = #{stepSraf,jdbcType=DOUBLE},
      </if>
      <if test="omegaQua != null" >
        omega_qua = #{omegaQua,jdbcType=DOUBLE},
      </if>
      <if test="maxloopOpc != null" >
        maxloop_opc = #{maxloopOpc,jdbcType=DOUBLE},
      </if>
      <if test="threshold != null" >
        threshold = #{threshold,jdbcType=DOUBLE},
      </if>
      <if test="tr != null" >
        tr = #{tr,jdbcType=DOUBLE},
      </if>
      <if test="aSource != null" >
        a_source = #{aSource,jdbcType=DOUBLE},
      </if>
      <if test="coreNum != null" >
        core_num = #{coreNum,jdbcType=DOUBLE},
      </if>
      <if test="inputMask != null" >
        input_mask = #{inputMask,jdbcType=VARCHAR},
      </if>
      <if test="inputMaskHash != null" >
        input_mask_hash = #{inputMaskHash,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bit.gd.pojo.GDParameterOpc" >
    update gd_parameter_opc
    set user_no = #{userNo,jdbcType=VARCHAR},
      mask_dimension = #{maskDimension,jdbcType=DOUBLE},
      pixel_size = #{pixelSize,jdbcType=DOUBLE},
      reflect = #{reflect,jdbcType=DOUBLE},
      absorb = #{absorb,jdbcType=DOUBLE},
      shadow_near = #{shadowNear,jdbcType=DOUBLE},
      shadow_far = #{shadowFar,jdbcType=DOUBLE},
      wavelength = #{wavelength,jdbcType=DOUBLE},
      sigma_in = #{sigmaIn,jdbcType=DOUBLE},
      sigma_out = #{sigmaOut,jdbcType=DOUBLE},
      tis = #{tis,jdbcType=DOUBLE},
      na = #{na,jdbcType=DOUBLE},
      ratio = #{ratio,jdbcType=DOUBLE},
      step_main = #{stepMain,jdbcType=DOUBLE},
      step_sraf = #{stepSraf,jdbcType=DOUBLE},
      omega_qua = #{omegaQua,jdbcType=DOUBLE},
      maxloop_opc = #{maxloopOpc,jdbcType=DOUBLE},
      threshold = #{threshold,jdbcType=DOUBLE},
      tr = #{tr,jdbcType=DOUBLE},
      a_source = #{aSource,jdbcType=DOUBLE},
      core_num = #{coreNum,jdbcType=DOUBLE},
      input_mask = #{inputMask,jdbcType=VARCHAR},
      input_mask_hash = #{inputMaskHash,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRecord" resultMap="BaseResultMap" parameterType="bit.gd.pojo.GDParameterOpc" >
    select
    <include refid="Base_Column_List" />
    from gd_parameter_opc
    where mask_dimension = #{maskDimension,jdbcType=DOUBLE}
    and pixel_size = #{pixelSize,jdbcType=DOUBLE}
    and reflect = #{reflect,jdbcType=DOUBLE}
    and absorb = #{absorb,jdbcType=DOUBLE}
    and shadow_near = #{shadowNear,jdbcType=DOUBLE}
    and shadow_far = #{shadowFar,jdbcType=DOUBLE}
    and wavelength = #{wavelength,jdbcType=DOUBLE}
    and sigma_in = #{sigmaIn,jdbcType=DOUBLE}
    and sigma_out = #{sigmaOut,jdbcType=DOUBLE}
    and tis = #{tis,jdbcType=DOUBLE}
    and na = #{na,jdbcType=DOUBLE}
    and ratio = #{ratio,jdbcType=DOUBLE}
    and step_main = #{stepMain,jdbcType=DOUBLE}
    and step_sraf = #{stepSraf,jdbcType=DOUBLE}
    and omega_qua = #{omegaQua,jdbcType=DOUBLE}
    and maxloop_opc = #{maxloopOpc,jdbcType=DOUBLE}
    and threshold = #{threshold,jdbcType=DOUBLE}
    and tr = #{tr,jdbcType=DOUBLE}
    and a_source = #{aSource,jdbcType=DOUBLE}
    and core_num = #{coreNum,jdbcType=DOUBLE}
    and input_mask_hash = #{inputMaskHash,jdbcType=VARCHAR}
  </select>

  <select id="selectMaxloop" resultType="java.lang.Double" parameterType="java.lang.String" >
    SELECT maxloop_opc FROM gd_parameter_opc
    where user_no = #{userNo,jdbcType=VARCHAR}
    ORDER BY id DESC
    LIMIT 1
  </select>
</mapper>