<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bit.gd.dao.GDUserMapper" >
  <resultMap id="BaseResultMap" type="bit.gd.pojo.GDUser" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="admin_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="crate_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_no, password, name, phone, status, admin_name, crate_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gd_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gd_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="bit.gd.pojo.GDUser" >
    insert into gd_user (id, user_no, password, 
      name, phone, status, 
      admin_name, crate_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{adminName,jdbcType=VARCHAR}, now(), now())}
      )
  </insert>
  <insert id="insertSelective" parameterType="bit.gd.pojo.GDUser" >
    insert into gd_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="crateTime != null" >
        crate_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="crateTime != null" >
        #{crateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bit.gd.pojo.GDUser" >
    update gd_user
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="crateTime != null" >
        crate_time = #{crateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bit.gd.pojo.GDUser" >
    update gd_user
    set user_no = #{userNo,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=VARCHAR},
      crate_time = #{crateTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from gd_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>

    <select id="selectPasswordByUserNo" resultType="java.lang.String" parameterType="java.lang.String" >
        select
        password
        from gd_user
        where user_no = #{userNo,jdbcType=VARCHAR}
    </select>

    <update id="updatePasswordByUserNo" >
    update gd_user
    set password = #{newPassword,jdbcType=VARCHAR},
      update_time = now()
    where user_no = #{userNo,jdbcType=VARCHAR}
    </update>

    <select id="selectAllActiveUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gd_user
        where status = 0
        ORDER BY id ASC
    </select>

  <select id="selectAllFrozenUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gd_user
    where status = 1
    ORDER BY id ASC
  </select>

  <update id="updateInfoByUserNo">
  update gd_user
  <set>
    <if test="newName != null" >
      name = #{newName,jdbcType=VARCHAR},
    </if>
    <if test="newPhone != null" >
      phone = #{newPhone,jdbcType=VARCHAR},
    </if>
      update_time = now()
  </set>
  where user_no = #{userNo,jdbcType=VARCHAR}
  </update>

    <update id="updateStatusByUserNo">
    update gd_user
    set
    status = #{status,jdbcType=INTEGER},
    update_time = now()
    where user_no = #{userNo,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByUserNo" parameterType="java.lang.String" >
        delete from gd_user
        where user_no = #{userNo,jdbcType=VARCHAR}
    </delete>
</mapper>